<div class="d-flex " style="height: 100%; float: left;">
    <div class="navbar-dark bg-dark"  style="float:left; width: 200px;">
        <p><br></p>
        <a href="/book-list" class="list-group-item list-group-item-action bg-dark ">Libros</a>
        <a href="/user-list" class="list-group-item list-group-item-action bg-dark">Usuarios</a>
        <a href="/inventory-list" class="list-group-item list-group-item-action bg-dark">Cantidad de ejemplares</a>
        <a href="/book-list" class="list-group-item list-group-item-action bg-dark">Préstamos</a>
        <a href="/book-list" class="list-group-item list-group-item-action bg-dark">Devolver libro</a>
    </div>
</div>